---
layout: default
pagination:
  data: collections.post
  size: 12
  reverse: true
  alias: posts
permalink: "{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber | plus: 1 }}/{% else %}/{% endif %}"
---

<div class="Masonry">
  {% for post in posts %}
    {% include resource-item.html,
        title: post.title,
        content: post.templateContent,
        date: post.date,
        permalink: post.url,
        slug: post.fileSlug,
        tags: post.data.tags,
        sourceURL: post.data.sourceURL,
        imageExt: post.data.imageExt
    %}
  {% endfor %}
</div>

{% include pagination.html %}
