<footer class="u-containSpread u-padSides1 u-padTop2 u-padBottom3">
  <div class="Grid u-posRelative">
    <div class="Grid-cell u-sm-size1of2 u-md-size1of3">
      <p>
        <a href="https://cloudfour.com"><strong>Cloud Four, Inc.</strong></a>
      </p>
      <p>
        208 SW 1st Ave, Suite 240<br>
        Portland, Oregon 97204 USA
      </p>
      <ul class="u-listUnstyled">
        <li><a href="mailto:info@cloudfour.com">info@cloudfour.com</a></li>
        <li><a href="tel:15032901090">+1 503.290.1090</a></li>
      </ul>
      <ul class="u-listInline u-spaceTop1 u-md-spaceTopNone u-md-posAbsoluteTopRight">
        <li>
          <a class="u-textGrow1" href="https://twitter.com/cloudfour" title="Follow @cloudfour on Twitter">
            <svg width="24" height="24" class="Icon Icon--large" role="img">
              <use xlink:href="#twitter"/>
            </svg>
          </a>
        </li>
        <li>
          <a class="u-textGrow1" href="https://www.facebook.com/cloudfourweb/" title="Like Cloud Four on Facebook">
            <svg width="24" height="24" class="Icon Icon--large" role="img">
              <use xlink:href="#facebook"/>
            </svg>
          </a>
        </li>
        <li>
          <a class="u-textGrow1" href="https://www.instagram.com/cloudfourpdx/" title="Follow @cloudfourpdx on Instagram">
            <svg width="24" height="24" class="Icon Icon--large" role="img">
              <use xlink:href="#instagram"/>
            </svg>
          </a>
        </li>
        <li>
          <a class="u-textGrow1" href="https://github.com/cloudfour" title="Cloud Four's repositories on GitHub">
            <svg width="24" height="24" class="Icon Icon--large" role="img">
              <use xlink:href="#github"/>
            </svg>
          </a>
        </li>
        <li>
          <a class="u-textGrow1" href="https://www.linkedin.com/company/cloud-four" title="Follow Cloud Four on LinkedIn">
            <svg width="24" height="24" class="Icon Icon--large" role="img">
              <use xlink:href="#linkedin"/>
            </svg>
          </a>
        </li>
      </ul>

    </div>
    <hr class="Grid-cell u-sm-hidden u-spaceTop1 u-spaceBottomNone">
    <nav class="Grid-cell u-spaceTop1 u-sm-spaceTopNone u-sm-size1of2 u-md-size1of3">
      <ul class="u-listUnstyled u-columns2">
        <li><a href="https://cloudfour.com/does/">What We Do</a></li>
        <li><a href="https://cloudfour.com/believes/">Our Approach</a></li>
        <li><a href="https://cloudfour.com/made/">Our Work</a></li>
        <li><a href="https://cloudfour.com/thinks/">Articles</a></li>
        <li><a href="https://cloudfour.com/presents/">Speaking</a></li>
        <li><a href="https://cloudfour.com/contributes/">Labs</a></li>
        <li><a href="https://cloudfour.com/is/">Team</a></li>
        <li><a href="https://cloudfour.com/portland-device-lab/">Device Lab</a></li>
        <li><a href="http://cloudfour-patterns.netlify.com/">Patterns</a></li>
      </ul>
    </nav>
    <hr class="Grid-cell u-md-hidden u-spaceTop1 u-spaceBottomNone">
    <p class="Grid-cell u-textShrink1 u-spaceTop1 u-md-size2of3">
      Hosted by <a href="https://www.netlify.com/">Netlify</a>,
      inspired by <a class="u-textNoWrap" href="https://wpostats.com/">WPO Stats</a> and
      <a class="u-textNoWrap" href="https://developers.google.com/web/showcase/">Google Web Showcase</a>
    </p>
    <p class="Grid-cell u-textShrink1 u-spaceTop1 u-md-sizeFit u-md-flexExpandLeft">
      Designed by Cloud Four
      (<a href="{{ site.github.repository_url }}/blob/master/LICENSE">License</a>)
    </p>
  </div>
</footer>
