<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-Compatible" content="ie=edge">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#456BD9">
  <meta name="msapplication-config" content="browserconfig.xml">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#456BD9">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" crossorigin>
  <link rel="stylesheet" href="/main.css">
  <style>
    {% include layout.css %}
  </style>
  <link rel="manifest" href="/manifest.json">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">

  {% if site.title %}
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="twitter:title" property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
    <meta name="twitter:site" content="@pwastats">
    <meta name="twitter:creator" content="@cloudfour">
    <meta property="og:site_name" content="{{ site.title }}">
  {% endif %}

  {% if page.layout == 'permalink' %}
    <meta name="twitter:card" content="summary">
  {% else %}
    <meta name="twitter:card" content="summary_large_image">
  {% endif %}

  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:type" content="website" >
  <meta property="og:url" content="{{ site.url }}" >
  <meta property="og:image" content="images/pwa-stats-1280-cropped.png" >

</head>
