<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-Compatible" content="ie=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#456BD9">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic|Source+Code+Pro" crossorigin>
  <link rel="stylesheet" href="https://cloudfour-patterns.netlify.com/assets/toolkit/styles/toolkit.css" crossorigin>
  <style>
    {% include layout.css %}
  </style>
  <link rel="manifest" href="{{ site.github.url }}/manifest.json">
  <title>{{ include.title }}</title>
</head>
