<header class="u-textCenter">
  <h1 class="u-textNoWrap u-textGrow4 u-sm-textGrow6">
    PWA Stats
  </h1>
  <p class="u-containProse">
    <span class="u-md-inlineBlock">
      A community-driven list of stats and news related to Progressive Web Apps,
    </span>
    <span class="u-md-inlineBlock">
      brought to you by
      <a class="u-textNoWrap" href="https://cloudfour.com/">
        <svg width="24" height="24" class="Icon Icon--larger u-spaceSides06" role="img">
          <use xlink:href="#cloud-four"/>
        </svg>
        Cloud Four
      </a>
    </span>
  </p>
</header>
