<div class="u-sm-size2of3 u-flexExpandLeft u-flexExpandRight">
  {% include logo.html %}
</div>
<p class="u-textCenter">
  <span class="u-md-inlineBlock">
    A community-driven list of stats and news related to <a href="https://developers.google.com/web/progressive-web-apps/">Progressive Web Apps</a>
  </span>
  <span class="u-md-inlineBlock">
    brought to you by
    <a class="u-textNoWrap" href="https://cloudfour.com/">
      <svg width="24" height="24" class="Icon Icon--larger u-spaceSides06" role="img">
        <use xlink:href="#cloud-four"/>
      </svg>Cloud Four
    </a>
  </span>
</p>
