<article class="Card u-borderNone">
  <a class="Card-main" href="{{ post.data.sourceURL }}">
    <h2 class="u-hiddenVisually">
      {{ post.data.title }}
    </h2>
    <img
      class="Card-mainObject"
      alt=""
      src="/images/{{post.fileSlug}}/2x.{{post.data.imageExt | default: 'png' }}"
    >
    <div class="Card-mainContent">
      {{ post.templateContent }}
    </div>
  </a>
  <footer class="Card-meta">
    {% if post.data.tags.size > 0 %}
      <h3 class="u-hiddenVisually">
        Tags
      </h3>
    {% endif %}
    <div class="Grid Grid--withGutter Grid--alignMiddle u-textShrink1">
      {% if post.data.tags.size > 0 %}
        <div class="Grid-cell u-sizeFill">
          <ul class="u-listInline">
            {% for tag in post.data.tags %}
              <li>
                <a class="Card-metaLink"
                  href="/tags/{{ tag | slugify }}">
                  #{{ tag }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <p class="Grid-cell u-sizeFit u-flexExpandLeft">
        {% if page.layout == 'permalink' %}
          <time class="u-textNoWrap"
            datetime="{{ post.date | date: "%Y-%m-%d"  }}">
            {{ post.date | date: "%b %-d, %Y"  }}
          </time>
        {% else %}
          <a class="Card-metaLink" title="Permalink"
            href="{{ post.url }}">
            <svg width="24" height="24" class="Icon Icon--large" role="img">
              <use xlink:href="#link"/>
            </svg>
          </a>
        {% endif %}
      </p>
    </div>
  </footer>
</article>
