<article class="Card u-borderNone">
  <a class="Card-main" href="{{ include.sourceURL }}">
    <h2 class="u-hiddenVisually">
      {{ include.title }}
    </h2>
    {% if include.image %}
    <img class="Card-mainObject" alt=""
      src="{{ site.url }}/images/{{ include.image }}">
    {% endif %}
    <div class="Card-mainContent">
      {{ include.content | markdownify }}
    </div>
  </a>
  <footer class="Card-meta">
    {% if include.tags.size > 0 %}
      <h3 class="u-hiddenVisually">
        Tags
      </h3>
    {% endif %}
    <div class="Grid Grid--withGutter Grid--alignMiddle u-textShrink1">
      {% if include.tags.size > 0 %}
        <div class="Grid-cell u-sizeFill">
          <ul class="u-listInline">
            {% for tag in include.tags %}
              <li>
                <a class="Card-metaLink"
                  href="{{ site.url }}/tags/{{ tag | slugify }}">
                  #{{ tag }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <p class="Grid-cell u-sizeFit u-flexExpandLeft">
        {% if page.layout == 'permalink' %}
          <time class="u-textNoWrap"
            datetime="{{ include.date | date: "%Y-%m-%d"  }}">
            {{ include.date | date: "%b %-d, %Y"  }}
          </time>
        {% else %}
          <a class="Card-metaLink" title="Permalink"
            href="{{ include.url | prepend: site.url }}">
            <svg width="24" height="24" class="Icon Icon--large" role="img">
              <use xlink:href="#link"/>
            </svg>
          </a>
        {% endif %}
      </p>
    </div>
  </footer>
</article>
