<!DOCTYPE html>
<html lang="en-US">
  {% include head.html title=page.title %}
  <body{% if layout.body_class %} class="{{ layout.body_class }}"{% endif %}>
    {{ content }}
    {% include svg-icons.html %}
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js').catch(e => console.error("Problem installing service worker:", e));
      } else {
        console.log('Your browser does not support service workers :(')
      }
    </script>
  </body>
</html>
