<!DOCTYPE html>
<html lang="en-US">
  {% include head.html title=page.title %}
  <body>
    <main role="main" id="main">
      <div class="Sky Sky--clouds">
        <div class="u-containSpread u-padTop1 u-padBottom4 u-padSides1 u-spaceItems3">
          {% include hero.html %}
          {{ content }}
        </div>
      </div>
      <div class="u-bgWhite">
        {% include contribute-story.html %}
      </div>
    </main>
    {% include footer.html %}
    {% include svg-icons.html %}
    <script src="{{ site.github.url }}/js/main.js"></script>
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ site.github.url }}/sw.js');
      }
    </script>
  </body>
</html>
