---
layout: blank
body_class: Sky u-pad1 u-flex u-flexCol u-flexJustifyCenter u-flexAlignItemsCenter u-textCenter
---

{{ content }}

<ul class="u-listUnstyled u-spaceTop1 u-spaceItems01">
  <li>
    <a class="Button Button--defaultDark u-block u-sizeFull"
      href="{{ site.github.issues_url }}">
      <svg width="24" height="24" class="Icon Icon--large u-spaceRight06" role="presentation">
        <use xlink:href="#github"/>
      </svg>
      Create an Issue
    </a>
  </li>
  <li>
    <a class="Button Button--primaryDark u-block u-sizeFull"
      href="">
      <svg width="24" height="24" class="Icon Icon--large u-spaceRight06" role="presentation">
        <use xlink:href="#arrow-left"/>
      </svg>
      Return Home
    </a>
  </li>
</ul>
